@import "../../variables.scss";

.step3__main {
    &-content {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: 1fr;
        margin: 12% 30%;
        background-color: rgba($color:white, $alpha: 0.9);
        padding: 3rem;
        color:var(--m19-background);
        text-align: center;
        box-shadow: 4px 5px 7px -2px rgba(0,0,0,0.75);
        @media (max-width: $breakpoint-phone) {
            grid-gap: 1rem;
            margin: 2% 3%;
            padding: 1rem;
        }
    }

    &-title {
        font-size: 5rem;
    }

    &-subtitle {
        font-size: 3rem;
    }

}